::selection {
  background-color: blue;
  color: white;
}

body,
html {
  margin: 0;
  padding: 0;
  background-color: #e6e6e5;
  max-width: 4000px;
  margin: 0 auto;
  font-family: San, sans-serif;
  cursor: none;
  transition: background-color 0.6s ease, color 0.6s ease;
}

/* -------- CURSOR ----------- */
/* --------------------------- */
.custom-cursor {
  position: fixed;
  width: 13px;
  height: 13px;
  background-color: blue;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(1);
  z-index: 1000;
  transition: transform 0.3s ease;
}
/* -------- CURSOR ----------- */
/* --------------------------- */

/*  ------------ NAV ------------ */
/* ------------------------------ */
.nav-container {
  position: fixed;
  top: 1rem;
  left: 0;
  right: 0;
  margin-bottom: 0.8em;
  font-family: San, sans-serif;
  font-size: 0.8rem;
  line-height: 1.2;
  z-index: 90;
  align-items: baseline;
}

#landingNav {
  margin-top: 45vh;
}

.logo {
  grid-column: span 2;
}
#logo-animation {
  align-self: flex-start;
  width: 180px;
}
.landingParagraph {
  grid-column: span 7;
}

.nav-container a {
  font-family: San, sans-serif;
  font-size: 0.8rem;
  text-decoration: none;
  color: #000;
  /* transition: 0.3s ease; */
  text-transform: uppercase;
  align-content: center;
  text-align: right;
}
.nav-container a:hover {
  color: blue;
  text-indent: 10px;
}

#mode-toggle-landing {
  background: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
  text-transform: uppercase;
  cursor: none;
  color: black;
  text-align: right;
}

/*  ------------ END NAV ------------ */
/* ------------------------------ */

/* ------- GRID TEMPLATE */
.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 20px;
  padding: 0 1rem;
}
/* -------- END GRID TEMPLATE */

/* ----------- IMAGE GRID -----------  */
.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-rows: 120px;
  gap: 80px;
  padding: 1rem;
  z-index: 0;
}

.image-grid img {
  width: 100%;
  height: auto;
  object-fit: contain; /* or unset */
  display: block;
  will-change: opacity, transform;
}

/* Organic sizing */
.image-grid img.big {
  grid-column: span 2;
  grid-row: span 2;
}

.image-grid img.tall {
  grid-row: span 3;
  grid-column: span 2;
}

.image-grid img.wide {
  grid-column: span 3;
  grid-row: span 2;
}

.image-grid img.large {
  grid-column: span 2;
  grid-row: span 3;
}

body.blue-mode .image-grid img {
  mix-blend-mode: darken;
  filter: brightness(0.95) sepia(0.3) hue-rotate(190deg) saturate(5);
  transition: filter 0.4s ease-in-out;
}

/* ----------- END IMAGE GRID -----------  */
/* --------------------------------------- */

#coming {
  height: 50em;
  color: blue;
}
#coming p {
  margin: 40em 0 0em 0;
  grid-column: 3 / span 8;
}

/* ---- END FOOTER---- */
/* --------------------------------------- */

/* ✦ RESPONSIVE */

@media (max-width: 900px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    column-gap: 20px;
    padding: 0 1rem;
  }
  .nav-container {
    align-items: baseline;
  }
  .logo {
    grid-column: span 4;
  }
  #logo-animation {
    align-self: center;
    width: 180px;
  }
  .landingParagraph {
    display: none;
  }

  .image-grid {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-auto-rows: 160px;
    align-items: center;
  }
}
@media (max-width: 600px) {
  .image-grid {
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 200px;
    gap: 8px;
  }

  .image-grid img.large {
    grid-column: span 2;
    grid-row: span 2;
  }

  .image-grid img.big,
  .image-grid img.wide,
  .image-grid img.tall {
    grid-column: span 2;
    grid-row: span 1;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 0px;
    padding: 0 0.3rem;
  }
  .logo {
    grid-column: span 2;
  }
  #logo-animation {
    align-self: stretch;
    width: 175px;
  }

  #coming {
    height: 20em;
  }
  #coming p {
    margin: 10em 0 0em 0;
    grid-column: 2 / span 3;
  }

  #footer {
    display: flex;
    flex-direction: column;
  }
  .contact {
    grid-template-columns: 1fr 5fr;
    margin-bottom: 2em;
  }
  #footer img {
    display: none;
  }
  .footer-p {
    margin-bottom: 2em;
  }
}
@media (max-width: 400px) {
}
